* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 48px;
}

.logo-login {
  width: 140;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading > img {
  width: 100px;
}

.header-text {
  margin-top: 0.8rem;
  display: inline-block;
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1); */
}

.header,
.sidebar {
  background-color: #2c2d31;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-pills .nav-link.active,
.sidebar .nav-pills .show > .nav-link {
  background-color: #36373b;
}

.sidebar .nav-link {
  color: #62656f;
  margin: 0 10px;
  font-size: 14px;
}

.bi {
  margin-bottom: 3px;
  margin-right: 5px;
}
